// widgets spacing
$widget-bottom-margin: 32px;
$widget-bottom-padding: 15px;
$widget-inner-padding: 32px;
$widget-title-margin: 0 0 32px 0;

// widget color
$widget-background-color: transparent;

// widget border
$widget-border-color: $default-border-color;
$widget-border-width: 1px;
$widget-border-style: solid;

// list items dimensions
$widget-list-item-height: 20px;
$widget-list-item-padding: 15px;

// list items color
$widget-list-item-background-color: transparent;

// list items border
$widget-list-item-border-color: #cccccc;
$widget-list-item-border-width: 1px;
$widget-list-item-border-style: solid;

// text
$widget-text-color: $default-text-color;
$widget-heading-color: $default-heading-color;

// links
$widget-link-color: $default-heading-color;
$widget-link-hover-color: $first-main-color;

// specific widgets
$widget-search-form-height: 52px;
$widget-tag-cloud-height: 30px;

.qodef-side-menu {
    @import 'widgets/default-wordpress-widgets-flat';

    .qodef-blog-list-widget {
        .qodef-blog-list-holder {
            .qodef-bl-item{
                line-height: inherit;
            }
            .qodef-post-title{
                a{
                    font-size: inherit;
                    line-height: inherit;
                    font-weight: inherit;
                    font-family: inherit;
                }
            }
            .qodef-post-info-date{
                a{
                    &:hover{
                        color: $first-main-color!important;
                    }
                }
            }
        }
    }
    
    .widget {
        &.widget_media_image {
            margin-bottom: 21px;
        }
    }
}