/* ==========================================================================
   WooCommerce Pagination styles - begin
   ========================================================================== */
.qodef-woo-pagination-holder {
    @include qodefRelativeHolderLayout();
    margin: 0 0 77px;
    clear: both;

    .qodef-woo-pagination-inner {
        position: relative;
        display: table;
        width: 100%;
        text-align: center;
    }
}

.woocommerce-pagination {
    position: relative;
    display: table-cell;
    vertical-align: top;
    width: 99%;
    margin: 0;
    padding: 0;

    .page-numbers {
        position: relative;
        display: inline-block;
        vertical-align: top;
        width: 100%;
        margin: 0;
        padding: 0;

        li {
            position: relative;
            display: inline-block;
            vertical-align: top;
            margin: 0;

            a,
            span {
                position: relative;
                display: inline-block;
	            width: auto;
                margin: 0 7px;
                padding: 0;
                vertical-align: top;
                text-decoration: none;
                cursor: pointer;
                white-space: nowrap;
                color: #d3d3d3;
                font-weight: 700;
                font-size: 16px;
                font-family: $default-heading-font;
                @include qodefTransition(color .3s cubic-bezier(0.48, 0.19, 0.2, 0.86));

                &:hover,
                &.current {
                    color: $default-heading-color;
                }
            }

            a {

                &.next,
                &.prev {
                    font-size: 0;
                    line-height: 1;
                    margin: 0;

                    &:before {
                        position: relative;
                        top: -1px;
                        display: block;
                        font-family: 'ElegantIcons';
                        font-size: 25px;
                        line-height: inherit;
                        -webkit-font-smoothing: antialiased;
                        -moz-osx-font-smoothing: grayscale;
                    }
                }
    
                &.prev {
        
                    &:before {
                        content: "\34";
                    }
                }
    
                &.next {
        
                    &:before {
                        content: "\35";
                    }
                }
            }
        }
    }
}

.qodef-woo-view-all-pagination {
    position: relative;
    display: table-cell;
    vertical-align: top;
    width: 1%;

    a {
        position: relative;
        display: inline-block;
        vertical-align: middle;
        white-space: nowrap;
        padding: 0 0 0 2px;
        color: $default-text-color;

        &:before {
            content: '|';
            padding: 0 14px 0 0;
            color: $default-text-color;
        }

        &:hover {
            color: $default-heading-color;
        }
    }
}
/* ==========================================================================
   WooCommerce Pagination styles - end
   ========================================================================== */