/* ==========================================================================
   Header Centered style - begin
   ========================================================================== */

.qodef-header-centered {
	
    .qodef-page-header {
	    
        .qodef-logo-area {
            height: 172px;
	        overflow: visible;
	        z-index: 2; //to be above menu area in order to cover shadow
	        box-sizing: border-box;
	        
            .qodef-logo-wrapper a {
                max-height: 172px;
            }
        }

        .qodef-menu-area {
	        height: 80px;
	        z-index: 1;

            .qodef-vertical-align-containers {
	            
                .qodef-position-center-inner {
                    height: 100%;
                }
            }
        }

        .qodef-sticky-header {
	        
            .qodef-position-left-inner {
                height: auto;
            }

            .qodef-position-right-inner {
                height: 100%;
            }
        }
    }
}
/* ==========================================================================
   Header Centered style - end
   ========================================================================== */